.icon-list-container {
  padding: 5px 0px;
}

.icon-list-element {
  display: flex;
  align-items: center;
}

.icon-list-element-icon {
  display: inline;
  pointer-events: none;
  width: 25px;
  padding: 10px;
}

.icon-list-element-text {
  display: inline;
  text-align: left;
  width: 100%;
  border-left: solid 1px #B5B5B5;
  padding-left: 10px;
}

@media screen and (max-width: 900px) {
  .icon-list-container {
    width: 100%;
  }
}