.line-list-container {
  border-left: solid 1px #B5B5B5;
  text-align: left;
  padding: 0px 5px;
}

.line-list-element {
  padding: 5px 5px;
}

@media screen and (max-width: 900px) {
  .line-list-container {
    display: flex;
    flex-direction: column;
  }
  .line-list-element {
    width: 100%;
  }
}