@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header {
  color: white;
  font-size: calc(10px + 5vmin);
  text-align: left;
  width: 100%;
  font-weight: 700;
}

.subheader {
  color: white;
  font-size: calc(10px + 1.2vmin);
  text-align: left;
  font-weight: 400;
}

.text-section {
  text-align: left;
  color: white;
}

.heading-0 {
  color: white;
  font-weight: 300;
  padding-top: 30px;
  font-size: calc(10px + 0.7vmin);
  text-align: left;
}

.heading-1 {
  color: white;
  text-align: left;
  font-weight: 300;
  font-size: calc(10px + 0.6vmin);
}

.heading-2 {
  font-weight: 300;
  font-size: calc(10px + 0.5vmin);
}

.heading-3 {
  font-weight: 300;
  font-size: calc(10px + 0.4vmin);
}

.paragraph {
  font-weight: 200;
  font-size: calc(10px + 0.4vmin);
}