@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #343434;
  min-height: 100vh;
  padding: 20px 30px;
}

.background {
  background-image: url('../assets/backgroundGraphic.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top right;
  background-size: 40% auto;
}

.hero {
  height: 50vh;
  width: 100%;
  right: 0;
  top: 0;
  position: absolute;
}

