.list_container {
  
}

.list-outer {
  padding-top: 10px;
  color: white;
  display: flex;
  max-width: 900px;
  width: 50vw;
}

.list-details {
  border-left: solid 1px #B5B5B5;
  text-align: left;
  padding: 5px;
  min-width: 600px;
  width: 85%;
}