@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --light-colour-1: #e6e6e6;
  --light-colour-2: #eaeaea;
  --light-colour-3: #efefef;
  --light-colour-4: #f4f4f4;
  --light-colour-5: #f8f8f8;

  --light-logo-colour-0: #343434;
  --light-logo-colour-1: #292929;
}

.header {
  font-size: calc(10px + 5vmin);
  text-align: left;
  width: 100%;
  font-weight: 700;
}
.subheader {
  font-size: calc(10px + 1.2vmin);
  text-align: left;
  font-weight: 400;
}
.text-section {
  text-align: left;
}
.heading-0 {
  font-weight: 300;
  padding-top: 30px;
  font-size: calc(10px + 0.7vmin);
  text-align: left;
}
.heading-1 {
  text-align: left;
  font-weight: 300;
  font-size: calc(10px + 0.6vmin);
}
.heading-2 {
  font-weight: 300;
  font-size: calc(10px + 0.5vmin);
}
.heading-3 {
  font-weight: 300;
  font-size: calc(10px + 0.4vmin);
}
.heading-4 {
  font-weight: 300;
  font-size: calc(10px + 0.3vmin);
}
.paragraph {
  font-weight: 200;
  font-size: calc(10px + 0.3vmin);
}

.colour-1 {fill: var(--light-colour-1)}
.colour-2 {fill: var(--light-colour-2)}
.colour-3 {fill: var(--light-colour-3)}
.colour-4 {fill: var(--light-colour-4)}
.colour-5 {fill: var(--light-colour-5)}

.logo-colour-0 {fill: var(--light-logo-colour-0)}
.logo-colour-1 {fill: var(--light-logo-colour-1)}