.home-container {
  width: 100%;
  margin-top: 25px;
  display: grid;
  column-gap: 100px;
  grid-template-columns: auto auto;
}

@media screen and (max-width: 900px) {
  .home-container {
    display: flex;
    flex-direction: column;
  }
}