.layout {
  margin: auto;
  display: flex;
  /* font-family: 'Raleway', sans-serif; */
  min-height: 100vh;
  max-width: 1200px;
  padding: 20px 10px;
  display: flex;
}

@media screen and (max-width: 900px) {
  .layout {
    padding: 0px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .navbar-layout {
    width: 100% !important;
    padding: 0px !important; 
  }
  .content-layout {
    display: flex;
    padding: 0px !important;
    width: 100% !important;
  }
  .content-outer {
    margin: 20px;
  }
  .content-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.background-container {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.background-image {
  float: right;
  width: 50%;
}

.navbar-layout {
  padding: 5px;
  margin: 0;
  width: 100px;
  height: 100%;
}

.content-layout {
  padding: 5px;
  width: 100%;
}

.text-section {
  max-width: 800px;
}