:root {
  --light-colour-1: #d3d3d3;
  --light-colour-2: #d6d6d6;
  --light-colour-3: #e0e0e0;
  --light-colour-4: #eaeaea;
  --light-colour-5: #f4f4f4;

  --logo-colour-0: #343434;
  --logo-colour-1: #292929;
}

.light-mode {
  background-color: white;
  color: #343434 !important;
}

.light-mode .colour-1 {
  fill: var(--light-colour-1);
}
.light-mode .colour-2 {
  fill: var(--light-colour-2);
}
.light-mode .colour-3 {
  fill: var(--light-colour-3);
}
.light-mode .colour-4 {
  fill: var(--light-colour-4);
}
.light-mode .colour-5 {
  fill: var(--light-colour-5);
}
.light-mode .logo-colour-0 {
  fill: var(--logo-colour-0);
}
.light-mode .logo-colour-1 {
  fill: var(--logo-colour-1);
}